.venv/
.env/
__pycache__/
.ipynb_checkpoints/
.DS_Store

data/raw/*
data/processed/*
data/meshes/*
!data/raw/README.md
!data/processed/README.md
!data/meshes/README.md

outputs/
*.npz
*.npy
*.log
*.png
*.csv
*.json

.vscode/
.idea/
Thumbs.db
